*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
/.idea/modules.xml
/.idea
/baselibrary/build
/baselibrary/*.iml
/v2ex/build
/v2ex/*.iml
/messagemodule/build
/messagemodule/*.iml
/opensourcelibrary/build
/opensourcelibrary/*.iml
/TopicsModule/build
/TopicsModule/*.iml

